<div class="black-border-box"> 
  <%@locations.each do |loc|%>
      <h3><%=loc.city%></h3>
      <div>
        <%loc.spots.each do |location_spot|%>
          <%=link_to location_spot.name, location_spot%> 
          <h4><%=location_spot.address%></h4>
          <%if location_spot.image.attached?%>
            <%=image_tag(location_spot.image, :class => 'image-box')%>
          <%end%>
        <%end%>
      </div>
  <%end%>
</div>
