<div class="spot-view">
  <%@user.spots.each do |spot|%>
    <div><h3><u><%=link_to spot.name, spot%></u></h3>
    <%if spot.image.attached?%>
      <%=image_tag(spot.image, class: 'image-box')%>
    <%end%><br>
    <%if spot.rating%>
      <%spot.rating.times do  %>
        <%= octicon "star", class: "gold-star" %>
      <%end%>
    <%end%></div>
  <%end%>
</div><hr>