<div class="spot-view">
  <%@user.spots.each do |spot|%>
    <%if !spot.id.nil?%>
      <div>
        <h3><u><%=link_to spot.name, spot%></u></h3>
        <%=image_tag(spot.image, class: 'image-box') unless !spot.image.attached?%>
        <%end%>
        <%spot.rating.times do unless spot.rating.nil?%>
          <%= octicon "star", class: "gold-star" %>
        <%end%>
      </div>
    <%end%>
  <%end%>
</div>