<div class="spot-view">
  <%user_spots.each do |spot|%>
    <div>
      <h3><u><%=link_to spot.name, spot%></u></h3>
      <%=spot.location.city%>, <%=spot.location.country%>
    </div>
  <%end%>
</div>