<div class="main-index"> 
  <div class="info margin-center">
    <p>Skateboarding has been a great source of exercise since its birth in the mid 1940s, and its rise in popularity in the early 1960s.</p>
    <p>Since then, skateboarding has grown on a global scale, promoting health and fitness, socializing and focus. With skateboarding being considered enough to join the ranks of sports in the <strong>Olympics</strong>, skateboarders world wide get to benefit from more government acknowledgement leading to more skateparks and facilities being built for skateboarders.</p>
    <p><strong><u>Skate-Mate</u></strong> is designed to help skateboarders keep track of where they skate, discover new places and network with other skaters. All while promoting travel and good health and fitness.</p>
  </div>
  <div class="centered main-form">
    <ul>
      <%=render 'form'%>
    </ul>
    <h3><u>Existing Users</u></h3>
    <%=link_to 'Log In', login_path%><br><br>
    <%=link_to 'Sign In with Facebook', '/auth/facebook'%>    
  </div>
</div>
