<div class="centered">
  <ul class="login-form">
    <%=render 'form'%>
  </ul>
  <h3><u>Existing Users</u></h3>
  <%=link_to 'Log In', login_path%><br><br>
  <%=link_to 'Sign In with Facebook', '/auth/facebook'%>
</div>
