<div class="main-index"> 
  <div class="info">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat, blandit sed nisl non, tempus molestie erat. Integer iaculis quam vitae eros suscipit, sit amet placerat nunc consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse in facilisis sapien. Etiam ut ligula dignissim, sagittis felis eu, cursus elit. Pellentesque eu nulla orci. Cras a fermentum erat. Aliquam cursus venenatis dolor, eu tristique e</p>
  </div>
  <div class="centered">
    <ul>
      <%=render 'form'%>
    </ul>
    <h3><u>Existing Users</u></h3>
    <%=link_to 'Log In', login_path%><br><br>
    <%=link_to 'Sign In with Facebook', '/auth/facebook'%>
  </div>
</div>
