@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');

body {
  font-family: Raleway;
}
header {
}
h2, h3 {
  font-family: 'Open Sans';
}
a, a:visited {
  text-decoration: none;
  color: rgb(1, 102, 6);
}

.container {
  margin: 10px auto;
  background: #ff8fc34a;
  padding-top: 50px;
  padding-bottom: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

.page-grid {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.centered {
  text-align: center;
}
.login-form {
  list-style-type: none;
}
.spot-box {
  padding: 5px;
  display: inline-block;
}
.nav-links {
  text-align: center;
}
.nav-links li {
  padding: 20px;
  display: inline;
}
.blue-text {
  color: rgb(33, 17, 255);
}
.flash-alert {
  color: red;
}
.nav-bar li {
  text-align: center;
  list-style: none;
}
.main {
  display: inline-block;
}
.spot-side {
  float: right;
  display: inline-block;
}