@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');

body {
  font-family: Raleway;
}
header {
  background-color: #eee;
}
h1, h2, h3 {
  font-family: 'Open Sans';
}
.container {
  width: 80vw;
  margin: 0 auto;
  height: auto;
  padding: 10px;
  border: 1px solid rgb(115, 255, 0);
}

.centered {
  text-align: center;
}
.login-form {
  list-style-type: none;
}
.nav-links {
  text-align: center;
}
.nav-links li {
  padding: 20px;
  display: inline;
}
.flash-alert {
  color: red;
}
.nav-bar li {
  text-align: center;
  list-style: none;
}
.main {
  display: inline-block;
}
.spot-side {
  float: right;
  display: inline-block;
}