  <h1>Locations:</h1><br>
  <ul><%@locations.each do |loc|%>
    <li><%=link_to loc.address, loc%>, <%=loc.city%>, <%=loc.country%></li>
    <li>Spot count: <%=loc.spots.count%></li><br>
  <%end%></ul>
