<div class="black-border-box centered">  
  <h2><u>Cities</u></h2>
  <h4>Search cities by country</h4>
  <%=render 'search'%><br>
  <div class="location-index">
    <%@locations.each do |loc|%>
    <div>
      <strong><u><%=link_to loc.city, loc%></u>, <%=loc.country%>.</strong><br>
      <div>Spot count: <%=loc.spots.count%></div><br>
    </div>
    <%end%>
  </div>
</div>