<header class="text-center pb-5 pt-2">
<h1>SKATE-MATE</h1>
  <%if current_user%>
      <ul class="nav-links pr-3">
        <li><%=link_to "Home", user_path(current_user)%></li>
        <li><%=link_to "Spots", spots_path%></li>
        <li><%=link_to "Cities", locations_path%></li>
        <li><%=link_to "Logout", logout_path%></li>
      </ul>
  <%end%>
</header>